DEBUG=True
DJANGO_ENV=development
PYTHONUNBUFFERED=1

SECRET_KEY='django-insecure-89b_j(!s9$+l-!um-&6k#z%1ys$-)+_0+tu$w^tk@ztsvx%$fh'

POSTGRES_PASSWORD=password
POSTGRES_USER=camille
POSTGRES_DB=simplewishlist
POSTGRES_HOST=simplewishlist_postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
ALLOWED_HOSTS=127.0.0.1,localhost,10.0.42.15
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://localhost:8000,http://127.0.0.1:8000,http://127.0.0.1:8080
